@inherits LayoutComponentBase
<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToasterPalcement" ShowCloseButton="true" />
<div class="page" dir="@Dir">
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <NavMenu />
                </div>
                <main>
                    <div class="top-row px-4">
                        <button type="button" class="btn btn-warning" onclick="@ChangeLanguage">@Resource.ChangeLanguage</button>
                        <button type="button" class="btn btn-secondary" onclick="@LogOut">@Resource.LogOut</button>
                    </div>
                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </Authorized>
            <NotAuthorized>
                <main>
                    <div class="top-row px-4">
                        <button type="button" class="btn btn-warning" onclick="@ChangeLanguage">@Resource.ChangeLanguage</button>
                    </div>
                    <LogInForm />
                </main>
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
</div>