@page "/"

<ContactsForm Contact="@contact"
              ShowForm="@showForm"
              FeatureType="@featureType"
              OnCancel="@OnCancel"
              OnContactObjectChange="OnContactObjectChange" />

@if (!showForm)
{
    <div class="col mt-4 mb-4">
        <button type="button" class="btn btn-primary" onclick="@(()=>ShowForm(FeatureType.Add,new Contact()))">@_localizer[Resource.New]</button>
    </div>

    <Grid class="table table-hover table-bordered table-striped"
          ItemsPerPageText="Contact"
          Data="contacts"
          PaginationItemsTextFormat=""
          PageSizeSelectorItems="new int[5]"
          TItem="Contact"
          AllowRowClick="false"
          AllowFiltering="true"
          EmptyText="@Resource.NoContactsToDisplay"
          Responsive="true">

        <GridColumn TItem="Contact" HeaderText="@Resource.Index" PropertyName="Index"> @context.Index</GridColumn>
        <GridColumn TItem="Contact" HeaderText="@Resource.Name" PropertyName="Name">@context.Name</GridColumn>
        <GridColumn TItem="Contact" HeaderText="@Resource.Phone" PropertyName="Phone"> @context.Phone </GridColumn>
        <GridColumn TItem="Contact" HeaderText="@Resource.Address" PropertyName="Address">@context.Address</GridColumn>
        <GridColumn TItem="Contact" HeaderText="@Resource.Operations" PropertyName="Address">
            @if (currentUser == context.CreatorUserName)
            {
                <button class="btn" @onclick="@(()=> ShowForm(FeatureType.Edit,context))"><i class="bi bi-pencil-fill"></i></button>
            }

            <button class="btn" @onclick="@(()=> ShowForm(FeatureType.Details,context))"><i class="bi bi-info-circle-fill"></i></button>

            @if (currentUser == context.CreatorUserName)
            {
                <button class="btn" @onclick="@(()=> ShowForm(FeatureType.Delete,context))"><i class="bi bi-trash3-fill"></i></button>
            }
        </GridColumn>
    </Grid>
    <ContellectTask.WebUI.Components.Pagination MetaData="metaData" Spread="2" OnChange="OnPaginationChanged" />
}